.footer {
    width: 95%;
    margin: 0 auto;
    margin-top: 10vh;
}

.footer>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.footerColumnContainer>div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footerColumnContainer>h3 {
    margin-bottom: 1rem;
}

.footerSocialsContainer>h3 {
    margin-bottom: 1rem;
}

.footerSocialsContainer>div {
    display: flex;
    gap: 1rem;
    font-size: 1.75rem;
}

.footer>div:nth-child(2) {
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer>div:nth-child(2)>p {
    display: flex;
    justify-content: center;
}

.footer>div:nth-child(2) hr {

    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;

}

.footer>div:nth-child(1) p {
    cursor: pointer;
}

.footerSocialsContainer i {
    cursor: pointer;
}

.footerLogoContainer>img {
    max-height: 50%;
    max-width: 80px;
    object-fit: contain;
    cursor: pointer;
}