.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    align-items: center;
}

.navbar>div {
    cursor: pointer;
}

.navbar>div:nth-child(2) {
    display: flex;
    gap: 3vw;
}

.navbar>div:nth-child(3) {
    display: flex;
    gap: 3vw;
}