.productCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.productCard {
width: 100% ;
}

.mainImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.smallImage {
    width: 20%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}


