.shippingPage {
    margin: 0 auto;
    width: 90%;
    display: flex;
    gap: 2vw;
}

.shippingForm {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.shippingForm input {
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
}

.cartSummary {
    width: 50%;
}





/* Responsive styles */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        /* Stack inputs on smaller screens */
    }
}