{
    # Global options
    admin off
}

# Replace these with your actual domain names in production
srv687262.hstgr.cloud {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy server:5000 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
        }
    }

    handle /* {
        reverse_proxy client:80
    }

    # Enable compression
    encode gzip

    # Add security headers
    header {
        # Enable HSTS
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        # Disable clients from sniffing the media type
        X-Content-Type-Options "nosniff"
        # Keep referrer data off of HTTP connections
        Referrer-Policy "strict-origin-when-cross-origin"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"
        # Prevent site from being embedded in iframes
        X-Frame-Options "DENY"
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Origin, Content-Type, Accept, Authorization"
        Access-Control-Allow-Credentials true
    }
} 